/*negrito parque das andorinhas na nav bar*/
b {
    color: black;
}

/*configuração da nav-bar*/
.navbar-nav > li {
    float: none;
}

.navbar {
    margin-bottom: 0%;
    opacity: 0.85;
}

.navbar-default .navbar-nav > li > a {
    color: black;
}

/*.item img {*/
/*margin: auto;*/
/*height: 10px;*/
/*}*/
.carousel-control {
    width: 70px;
    height: 80px;
    margin-top: 300px;

}

/*.img-carousel{*/
/*height: 50px;*/
/*}*/
.carousel-inner > .item > img {
    margin: auto;
    width: 100%;
    /*height: 825px;*/
    max-height: 800px;
    /*min-height: 80%;*/
}

.carousel-control {
    height: auto;
    width: auto;
    /*overflow: hidden;*/

}

/*configuração do tamanho dos icones*/
.icone img {
    /*height: 95px;*/
    /*margin-top: 10%;*/
    margin-left: 25%;
}

.iten-list {
    margin-bottom: 3%;
    margin-left: 10%;
    margin-top: 2%;
}

.iten-list-col1 {
    float: left;
    width: 60px;
    /*margin: 15px 15px 15px 15px ;*/
    margin-right: 15px;
}

.iten-list-col2 {
    overflow: hidden;
    margin-left: 20%;
}

.img-infra {
    width: 200px;
    height: 150px;
    /*padding: 10px 0px 0px 10px;*/
    margin-bottom: 10%;
    margin-left: 100%;
}

.col-md-4 {
    width: 22.0%;
}

h1 {
    text-align: center;
    padding: 30px 0 30px 0;
    text-transform: uppercase;
    font-family: Verdana;
    font-weight: bold;
    font-size: 300%;
    color: black;
}

h3 {
    text-transform: uppercase;
    color: black;
    margin-top: 6%;
}

h5 {
    margin-left: 2%;
    color: black;
}

#esportes {
    background: url("../img_site/img_esportes/bike-fundo.jpg");
    /*background-position: center;*/
    background-size: cover;
}

.tituloesportes {
    background-color: black;
    opacity: 0.85;
    height: 7%;
}

.tituloesportes h1 {
    color: whitesmoke;
    /*height: 1px;*/
    /*margin: auto;*/
}

.conteudocentral {
    /*background-color: whitesmoke;*/
    width: 65%;
    height: 600px;
    margin: auto;
    margin-top: 10%;
}

.textocentral {
    margin: auto;
}

.fotocentral {
    margin: auto;
    padding: 1%;
}

/*configuraçao da navbar de esportes*/
.nav-tabs > li > a {
    color: whitesmoke;
}

.btn-black{
    border-color: black;
    background-color: black;
    border-radius: 0 !important;
    border:0;
}
.opaque{
    background-color: rgba(0,0,0,0.6);
    border:0;
}
.colordiv{
    background: whitesmoke;
}

