/*negrito parque das andorinhas na nav bar*/
b{
    color: black;
}
/*configuração da nav-bar*/
.navbar-nav>li {
    float: none;
}
.navbar{
    margin-bottom: 0%;
}
.carousel-inner img {
    margin: auto;
}
.carousel-control{
    width: 70px;
    height: 80px;
    margin-top: 300px;

}
.img-carousel{
    height: 10%;
}
.carousel-inner > .item > img {
    position:relative;
    min-width: 100%;
    /*height: 80%; !* Altura da imagem dentro do Carousel *!*/
}